<%
  opensource_project = notification.target
 %>
<% if opensource_project.blank? %>
  相关信息已删除
<% else %>
  <div class="media-heading">
    <p>开源项目《<%= link_to(opensource_project.title, homeland_opensource_project.opensource_project_path(opensource_project)) %>》已经审核通过。</p>
    <p>剩余 <%=OpensourceProject.includes(:user).upcoming.to_a.length %> 个待审核</p>

    <%= link_to'查看所有待审核项目', homeland_opensource_project.upcoming_admin_opensource_projects_path, class: 'btn btn-default btn-sm', target: '_blank' %>
  </div>
<% end %>
