<div id="hot_opensource_project-list" class="card">
  <div class="card-header">最热开源项目</div>
  <div class="card-body row">
    <%= render partial: 'project_thumbnail', collection: @hot_opensource_projects %>
  </div>
</div>
